.btn-group
  -if params[:show] == 'all' then
    %a.btn.btn-default{:href => url_for(:lotteries, :index)} 显示已兑换
  -else
    %a.btn.btn-default{:href => url_for(:lotteries, :index, :show => 'all')} 显示所有
  %a.btn.btn-default.btn-primary{:href => url_for(:lotteries, :export, :format => :csv)} 导出已兑换的号码(csv格式)
  %a.btn.btn-default.disabled{:href => url_for(:lotteries, :export, :format => :xlsx)} 导出已兑换的号码(xlsx格式-未完成)
  %a.btn.btn-default{:href => url_for(:users, :export, :format => :csv)}导出参与微信用户(csv格式)


%table#list.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th.header= mat(:lottery, :crypted_serial)
      %th.header= mat(:lottery, :serial)
      %th.header= mat(:lottery, :level)
      %th.header= mat(:lottery, :name)
      %th.header= mat(:lottery, :tel)
      %th.header= mat(:lottery, :user_id)
      %th.header= mat(:lottery, :status)

  %tbody
    -@lotteries.each do |lottery|
      %tr.list-row
        %td.list-column=lottery.crypted_serial
        %td.list-column=lottery.serial
        %td.list-column=lottery.level_name
        %td.list-column=lottery.display_name
        %td.list-column=lottery.tel
        %td.list-column=lottery.user_id
        %td.list-column=lottery.display_status
