-content_for :stylesheets do
  =stylesheet_link_tag 'datepicker.min'

-content_for :javascripts do
  =javascript_include_tag Padrino.env == :production ? 'bootstrap-datepicker.min' : 'bootstrap-datepicker'
  =javascript_include_tag 'bootstrap-datepicker.zh-CN'
  :javascript
    $(function() {
      $('#datepicker.input-daterange').datepicker({
        format: "yyyy/mm/dd",
        startDate: "2014/06/01",
        endDate: "2014/12/31",
        todayBtn: "linked",
        language: "zh-CN",
        autoclose: true,
        todayHighlight: true
      });
    });


= form_tag url(:lotteries, :index), :method => :get, :class => 'form-horizontal' do
  %fieldset.form-group
    .col-sm-2
      %label.control-label 选择兑奖时间范围：
    .col-sm-3
      .input-daterange.input-group#datepicker
        %input.form-control{:type => 'text', :name => 'start', :value => params[:start]}
        %span.input-group-addon 到
        %input.form-control{:type => 'text', :name => 'end', :value => params[:end]}
    .col-sm-7
      .btn-group
        %input.btn.btn-primary{:type => :submit, :value => '查询'}
  %p.bg-info
    查询结果中不会包括结束时间当天的数据。<br>
    例如：查询条件为2014/06/06 ~ 2014/06/07，不会检索出2014/06/07的数据，
    因为时间的完全形式是2014/06/07 00:00:00，没有比一天开始时间更早的数据

= form_tag url(:lotteries, :export, :format => :xlsx), :method => :get do
  =hidden_field_tag :start, :value => params[:start]
  =hidden_field_tag :end, :value => params[:end]
  =submit_tag '从查询结果中导出Excel', :class => 'btn btn-primary'
  %p.bg-info
    导出的Excel中，“申请观赛”包括所有的参与用户，不仅是查询结果中的用户。

%table#list.table.table-striped.table-hover
  %thead
    %tr
      %th.header= mat(:lottery, :crypted_serial)
      %th.header= mat(:lottery, :exchange_time)
      %th.header= mat(:lottery, :serial)
      %th.header= mat(:lottery, :level)
      %th.header= mat(:lottery, :name)
      %th.header= mat(:lottery, :tel)
      %th.header= mat(:lottery, :user_id)
      %th.header= mat(:lottery, :status)

  %tbody
    -@lotteries.each do |lottery|
      %tr.list-row
        %td.list-column=lottery.crypted_serial
        - strtime = lottery.exchange_time ? lottery.exchange_time.localtime.strftime("%Y-%m-%d %H:%M:%S") : ""
        %td.list-column=strtime
        %td.list-column=lottery.serial
        %td.list-column=lottery.level_name
        %td.list-column=lottery.display_name
        %td.list-column=lottery.tel
        %td.list-column
          -if lottery.user_id.present?
            %a{:href => url_for(:users, :edit, :id => lottery.user_id)}
              =lottery.user.name
        %td.list-column=lottery.display_status
  %tfoot
    %tr
      %td{:colspan => 8}
        =will_paginate(@lotteries, renderer: BootstrapPagination::Sinatra, :previous_label => '&laquo;', :next_label => '&raquo;')