%div{'data-role' => 'content'}
  %h2 赛事申请规则介绍
  %p 回答正确可获得申请观赛的资格，幸运中奖者将于9月15日抽出。每个微信ID仅有一次机会哦！

  %form{:action => url_for(:activity, :apply), :method => :post }
    -@questions.each.with_index do |q, i|
      %fieldset{'data-role' => 'controlgroup'}
        %legend="#{i + 1}. #{q.question}"
        -if q.a.present?
          %input{:name => q.id, :id => "#{q.id}a", :value=>'a', :type=>'radio'}
          %label{:for => "#{q.id}a"}
            =q.a

        -if q.b.present?
          %input{:name => q.id, :id => "#{q.id}b", :value=>'b', :type=>'radio'}
          %label{:for => "#{q.id}b"}
            =q.b

        -if q.c.present?
          %input{:name => q.id, :id => "#{q.id}c", :value=>'c', :type=>'radio'}
          %label{:for => "#{q.id}c"}
            =q.c

        -if q.d.present?
          %input{:name => q.id, :id => "#{q.id}d", :value=>'d', :type=>'radio'}
          %label{:for => "#{q.id}d"}
            =q.d
    %input{:type => :submit, :value => '提交答案'}