
%div{'data-role' => 'content'}
  %p.greeting
    恭喜您，您输入的验证码为
    %span.prize=@lottery.level_name
    ！
  %p 
    奖品是
    %span.prize=@lottery.display_name
    -if @lottery.display_image.present?
      %img.prize{:src => @lottery.display_image}
  %p 为顺利完成兑奖，您还需正确填写以下兑奖信息（修理厂及联系信息首次填写后系统将自动保存）

  = form_for :lottery, url(:activity, :save, :id => @lottery.id) do |f|
    - errors = @lottery.errors
    = f.hidden_field :serial
    - if @lottery.level == '4'
      %p
        = f.label :tel, :caption => '请您输入要充值的手机号:'
        -if errors.include?(:tel)
          = f.telephone_field :tel, :autofocus => true
          %span.error= f.error_message_on(:tel)
        -else
          = f.telephone_field :tel
    - if ['1','2'].include?(@lottery.level)
      %p
        = f.label :product, :caption => '请您输入该中奖产品的编号，您可在产品包装盒外找到（如图例）'
        -if errors.include?(:product)
          = f.text_field :product, :autofocus => true
          %span.error= f.error_message_on(:product)
        -else
          = f.text_field :product
        %a.sample{:href => '#sample', 'data-rel' => 'popup', 'data-position-to' => 'window', 'data-transition'=>'fade'}
          %img{:src => '/images/sample.jpg', :alt=> '图例', :style => 'width:50%'}
        #sample{'data-role' => 'popup', 'data-corners' => "false"}
          %a.ui-btn.ui-corner-all.ui-shadow.ui-btn-a.ui-icon-delete.ui-btn-icon-notext.ui-btn-right{:href => '#', 'data-rel' => 'back'}关闭
          %img{:src => '/images/sample.jpg', :alt=> '图例', :style => 'max-height:512px'}
    = f.fields_for :user do |user|
      :javascript
        $(document).one('pageshow', function() {
          $('#address').citySelect({
            nodata: "none",
            prov: "#{user.object.province}",
            city: "#{user.object.city}",
            required: false
          });
        });
      = user.hidden_field :openid
      - errors = @lottery.user.errors
      %p
        = user.label :workshop, :caption => '您所在的修理厂名称:'
        -if errors.include?(:workshop)
          = user.text_field :workshop, :autofocus => true
          %span.error= user.error_message_on(:workshop) 
        -else
          = user.text_field :workshop
      %p
        = user.label :name
        -if errors.include?(:name)
          = user.text_field :name, :autofocus => true
          %span.error= user.error_message_on(:name)
        -else
          = user.text_field :name
      %p
        = user.label :tel
        -if errors.include?(:tel)
          =user.telephone_field :tel, :autofocus => true
          %span.error= user.error_message_on(:tel)
        -else 
          = user.telephone_field :tel
      %p{:id => 'address'}

        = user.label :workshop_address, :caption => '您所在的修理厂地址:'
        -if errors.include?(:province)
          = user.select :province, :class => 'prov', :autofocus => true, 'data-inline' => "true"
        -else
          = user.select :province, :class => 'prov', 'data-inline' => "true"

        -if errors.include?(:city)
          = user.select :city, :class => 'city', :autofocus => true, 'data-inline' => "true"
        -else
          = user.select :city, :class => 'city', 'data-inline' => "true"

        = user.label :workshop_address, :caption => '详细地址:'
        -if errors.include?(:workshop_address)
          = user.text_area :workshop_address, :autofocus => true
          %span.error= user.error_message_on(:workshop_address)
        -else
          = user.text_area :workshop_address
    = f.submit_block '提交个人信息'
