
%div{'data-role' => 'content'}
  %p!= lottery_message @lottery
  = form_for :lottery, url(:activity, :save, :id => @lottery.id) do |f|
    = f.hidden_field :serial
    - if @lottery.level == '4'
      - errors = @lottery.errors
      %p
        = f.label t('activity.result.prize4.label')
        = f.telephone_field :tel
        %span.error= f.error_message_on(:tel) if errors.include?(:tel)
    - if @lottery.level == '1' or @lottery.level == '2'
      - errors = @lottery.errors
      %p
        = f.label :product, :caption => '您所购买的产品号:'
        = f.text_field :product
    = f.fields_for :user do |user|
      =javascript_include_tag 'jquery.cityselect.js'
      :javascript
        $(function() {
          $('#address').citySelect({
            nodata: "none",
            prov: "#{user.object.province}",
            city: "#{user.object.city}",
            required: false
          });
        });
      = user.hidden_field :openid
      - errors = @lottery.user.errors
      %p
        = user.label :name
        = user.text_field :name
        %span.error= user.error_message_on(:name) if errors.include?(:name)
      %p
        = user.label :tel
        = user.telephone_field :tel
        %span.error= user.error_message_on(:tel) if errors.include?(:tel)
      %p
        = user.label :workshop, :caption => '您所在的修理厂名称:'
        = user.text_field :workshop
        %span.error= user.error_message_on(:workshop) if errors.include?(:workshop)
      %p{:id => 'address'}
        = user.label :workshop_address, :caption => '您所在的修理厂地址:'
        = user.select :province, :class => 'prov', 'data-native-menu' => "false", 'data-inline' => "true"
        = user.select :city, :class => 'city', 'data-native-menu' => "false", 'data-inline' => "true"
        = user.label :workshop_address, :caption => '详细地址:'
        = user.text_area :workshop_address
        %span.error= user.error_message_on(:workshop_address) if errors.include?(:workshop_address)
    = f.submit_block t('activity.result.save')
