%div{'data-role' => 'page', :id => "profile" }
  %div{'data-role' => 'header'}
    %h1= t('activity.result.title')
  %div{'data-role' => 'content'}
    %p= t('activity.result.thanks', :name => @lottery.name)
    = form_for :lottery, url(:activity, :save) do |f|
      = f.hidden_field :serial
      = f.text_field_block :tel, :type => "tel" if @lottery.name == "Level 4"
      = f.fields_for :wechat_user do |user|
        = user.hidden_field :openid
        = user.text_field_block :name
        = user.text_field_block :tel, :type => "tel"
        = user.text_field_block :workshop
        = user.text_area_block :workshop_address
        = user.check_box_block :join_match if user.object.show_join_match?
      = f.submit_block t('activity.result.save')
