!!! 5
%html{:lang => 'zh'}
  %head
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:name => :viewport, :content => 'width=device-width,initial-scale=1'}
    %title= @title.present? ? "#{@title} | Schaeffler Admin" : "Schaeffler Admin"
    =favicon_tag 'favicon.ico'
    =stylesheet_link_tag 'bootstrap', 'application'
    =yield_content :stylesheets

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          =link_to 'Schaeffler', url(:base, :index), :class => 'navbar-brand', :title => 'Schaeffler Admin'
          %ul.nav.navbar-nav.pull-right
            %li.navbar-edit-account=link_to tag_icon(:user), url(:accounts, :edit, :id => current_account.id), :title => pat(:profile), :class => 'navbar-nav-link'
            %li.navbar-logout
              =button_to :logout, url(:sessions, :destroy), :method => :delete, :class => 'navbar-nav-form' do
                =content_tag :button, tag_icon(:off), :type => :submit, :title => pat(:logout), :class => 'navbar-nav-form-link'
          

          %ul.nav.navbar-nav.pull-left
            -promotions = project_modules.select { |p| p.options[:group] == :promotion }
            -active = promotions.find_index { |p| request.path_info =~ /^#{p.path}/}
            -if !promotions.empty? then
              %li.dropdown.navbar-module{:class => "#{'active' if active}"}
                %a.dropdown-toggle{:href => '#', 'data-toggle'=>"dropdown"}
                  促销活动
                  %b.caret
                %ul.dropdown-menu
                  - promotions.each do |project_module|
                    %li{:class => "#{('active' if request.path_info =~ /^#{project_module.path}/)}"}
                      =link_to project_module.options[:name], url(project_module.path)

            -news = project_modules.select { |p| p.options[:group] == :news }
            -active = news.find_index { |p| request.path_info =~ /^#{p.path}/}
            -if !news.empty? then
              %li.dropdown.navbar-module{:class => "#{'active' if active}"}
                %a.dropdown-toggle{:href => '#', 'data-toggle'=>"dropdown"}
                  微网页素材管理
                  %b.caret
                %ul.dropdown-menu
                  - news.each do |project_module|
                    %li{:class => "#{('active' if request.path_info =~ /^#{project_module.path}/)}"}
                      =link_to project_module.options[:name], url(project_module.path)

            -wechat = project_modules.select { |p| p.options[:group] == :wechat }
            -active = wechat.find_index { |p| request.path_info =~ /^#{p.path}/}
            -if !news.empty? then
              %li.dropdown.navbar-module{:class => "#{'active' if active}"}
                %a.dropdown-toggle{:href => '#', 'data-toggle'=>"dropdown"}
                  微信配置管理
                  %b.caret
                %ul.dropdown-menu
                  - wechat.each do |project_module|
                    %li{:class => "#{('active' if request.path_info =~ /^#{project_module.path}/)}"}
                      =link_to project_module.options[:name], url(project_module.path)

            - project_modules.each do |project_module|
              - if ![:promotion, :news, :account, :wechat ].include? (project_module.options[:group])
                %li{:class => "navbar-module #{('active' if request.path_info =~ /^#{project_module.path}/)}"}
                  =link_to project_module.options[:name], url(project_module.path)

    .container.main
      .main-wrapper
        ={:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in flash-messages", :bootstrap => true) }.join.html_safe
        .row=yield

    =javascript_include_tag 'jquery-1.9.0.min', 'bootstrap/bootstrap.min', :application
    =yield_content :javascripts