

-content_for :stylesheets do
  =stylesheet_link_tag 'admin'

%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:auto_replies, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:auto_replies, :new)

.tabs-content
  .btn-group{:style => 'margin-bottom:20px;'}
    %a.btn.btn-default{:href => url_for(:auto_replies, :index), :class => params['event'] ? '' : 'active'}
      显示全部
    %a.btn.btn-default{:href => url_for(:auto_replies, :index, :event => 'subscribe'), :class => params['event'] == 'subscribe' ? 'active' : ''}
      订阅事件自动回复
    %a.btn.btn-default{:href => url_for(:auto_replies, :index, :event => 'keyword'), :class => params['event'] == 'keyword' ? 'active' : ''}
      关键字自动回复
    %a.btn.btn-default{:href => url_for(:auto_replies, :index, :event => 'click'), :class => params['event'] == 'click' ? 'active' : ''}
      自定义菜单事件


  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    = form_tag url(:auto_replies, :destroy_many), :method => :delete do
                      =hidden_field_tag :auto_reply_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-default.btn-small.cancel=pat(:cancel)

        %th.header= mat(:auto_reply, :event)
        %th.header= mat(:auto_reply, :param)
        %th.header= mat(:auto_reply, :rtype)
        %th.header= mat(:auto_reply, :weight)
        %th.header Summary

    %tbody
      -@auto_replies.each do |auto_reply|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'auto_reply_ids[]', :value => auto_reply.id, :class => 'list-selectable-checkbox'
            
          %td.list-column
            %a{:href => url_for(:auto_replies, :edit, :id => auto_reply.id)}
              =tag_icon(:edit)
              =event_pair(auto_reply.event)
            
          %td.list-column=auto_reply.param
          %td.list-column=rtype_pair(auto_reply.rtype)
          %td.list-column=auto_reply.weight
          %td.list-column
            =summary auto_reply
