%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:articles, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:articles, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    = form_tag url(:articles, :destroy_many), :method => :delete do
                      =hidden_field_tag :article_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-default.btn-small.cancel=pat(:cancel)
        %th.header= mat(:article, :title)
        %th.header= mat(:article, :name)
        %th.header= mat(:article, :created_at)
        %th.header= mat(:article, :updated_at)

    %tbody
      -@articles.each do |article|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'article_ids[]', :value => article.id, :class => 'list-selectable-checkbox'
          %td.list-column
            %a{:href => url(:articles, :edit, :id => article.id)}
              =tag_icon(:edit)
              =article.title
          %td.list-column=article.name
          %td.list-column=time_ago_in_words article.created_at
          %td.list-column=time_ago_in_words article.updated_at
